<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
          {% block stylesheets %}
        
  <link href="{{ asset('assets/img/favicon.png')}}" rel="icon">
  <link href="{{ asset('assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="{{ asset('https://fonts.googleapis.com')}}">
  <link rel="preconnect" href="{{ asset('https://fonts.gstatic.com')}}" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ asset('assets/css/main.css')}}">
        {% endblock %}

        {% block javascripts %}
  <!-- Vendor JS Files -->
  <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ asset('assets/vendor/aos/aos.js')}}"></script>
  <script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ asset('assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset('assets/js/main.js')}}"></script>
        {% endblock %}

    </head>
        {% block body %}
<body class="page-services">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">IQ Ahmed</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="https://github.com/Iqahmediq" target="blanc">About Me</a></li>
          <li class="dropdown"><a href="{{path('app_formation')}}"><span>Formations</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{{ path('ajout_fomation') }}">Add Formation</a></li>
              <li class="dropdown"><a href="#"><span>Parcourir Formations</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                {% for formation in formations %}
                  <li><a href="{{path('formations_id', {'id': formation.id}) }}">{{ formation.titre }}</a></li>
                {% endfor %}

                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Parcourir Participants</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                {% for participant in participants %}
                  <li><a href="{{path('Participant_id', {'id': participant.id}) }}">{{ participant.nom }}</a></li>
                {% endfor %}

                </ul>
              </li>

            </ul>
          </li>
          <li><a href="{{path('update')}}">Profile</a></li>
          <li><a href="{{path('security_logout')}}">logout</a></li>

        </ul>

      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/servicesheader.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Formations</h2>
        <ol>
          <li><a href="{{path('app_home')}}">Home</a></li>
          <li>Formations</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->


      <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Formations</h2>

        </div>

        <div class="row gy-5">
{% for formation in formations %}

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100" >
            <div class="post-box">
              <div class="post-img"><img src="{{ asset('uploads/formations/' ~ formation.image )}}" class="img-fluid" alt="" style="height:300px;width:300px;"></div>
              <div class="meta">
                <span class="post-date">ID Du Formation : {{ formation.id }}  </span>
              </div>
              <h3 class="post-title">{{ formation.titre }}</h3>
              <p> duree:{{ formation.duree }} <br>  Price :{{ formation.price }} <br> date debut  :{{ formation.getBeginAt()|date("m/d/Y") }}
                    <br> temps debut  :{{ formation.getBeginAt()|date("H:i:s") }}
                    </p>
                    <p>Participant List:
                  {% for participant in participants %}
    {% if formation.id== participant.getFormation().id %}
    {{ participant.nom }}
                   &amp; 
    {% endif %}
                   {% endfor %}
                   </p>
              <a href="{{path('formations_id', {'id': formation.id}) }}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          
    {% endfor %}
        </div>

      </div>

    </section><!-- End Recent Blog Posts Section -->
    </section><!-- End Services Cards Section -->

  </main><!-- End #main -->
<div class="section-header">
          <h2>Our Statistiques</h2>

        </div>
<div style="margin-left:300px;margin-right:300px">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Formation</th>
      <th scope="col">les participant</th>
      <th scope="col">Nombre Participants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
{% for formation in formations %}
      <th scope="row">{{formation.id}}</th>
      <td>{{formation.titre}}</td>
      <td>
      
      {% set count = 0 %}
      {% for participant in participants %}
      {% if formation.id== participant.getFormation().id %}
      {{participant.nom}}

      {% set count = count + 1 %}
 {% endif %}
 {% endfor %}
      </td>
 <td>
  {{ count  }}
      </td>
    </tr>
 {% endfor %}
    
  </tbody>
</table>
</div>
<br>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>Belkhiria Ahmed</span>
            </a>
            <p>Software Engineer FullStack Developer</p>
            <div class="social-links d-flex  mt-3">
              <a href="https://www.facebook.com/ahmed.belkhiria.9404/" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://github.com/Iqahmediq" class="github"><i class="bi bi-github"></i></a>
              <a href="https://www.linkedin.com/in/belkhiria-ahmed-61b550238/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              ElManar 54 <br>
              Jemmel 5020<br>
              Monastir Tunisie<br><br>
              <strong>Phone:</strong>+216 52 806 827<br>
              <strong>Email:</strong>Belkhiriaahmed617@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>IqAhmed</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">Iqahmed</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>


        {% endblock %}

</body>

</html>
